<ng-container *ngIf="transactions$ | async as transactions; else spinner">
  <mat-card *ngFor="let t of transactions">
    <a [routerLink]="t.transaction_id">
      <mat-card-header>
        <mat-card-title>{{t.full_description}}</mat-card-title>
        <mat-card-subtitle>
          {{t.amount | currency}}&nbsp;|
          <ng-container *ngIf="t.category; else uncategorized">
            {{t.category}}
          </ng-container>
          <ng-template #uncategorized><span class="uncategorized">uncategorized</span></ng-template>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <span class="content-block">
          <span>{{t.date | date}}</span>
        </span>
        <span class="content-block">
          <span>{{t.institution}}</span>
          <span>{{t.account}}</span>
          <span>{{t['account_#']}}</span>
        </span>
      </mat-card-content>
    </a>
  </mat-card>
</ng-container>

<ng-template #spinner>
  Loading Transactions...
  <mat-spinner></mat-spinner>
</ng-template>