<mat-toolbar>
  <mat-chip-listbox aria-label="Filter selection" multiple>
    <mat-chip-option *ngFor="let filter of allFilters" [value]="filter" [selected]="filter.selected"
      (selectionChange)="onFilterChange($event, filter, allFilters)">
      {{filter.name}}</mat-chip-option>
  </mat-chip-listbox>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Search</mat-panel-title>
  </mat-expansion-panel-header>

  <mat-form-field>
    <mat-label>Search</mat-label>
    <input type="text" placeholder="Search for transactions" [formControl]="searchControl" matInput #input>
    <button *ngIf="searchControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchControl.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</mat-expansion-panel>
</mat-toolbar>
<ng-container *ngIf="transactions$ | async as transactions; else spinner">
  <ng-container *ngIf="transactions.length > 0; else noTransactions">
    <app-transaction [transaction]="t" *ngFor="let t of transactions"></app-transaction>
  </ng-container>
</ng-container>

<app-fab *ngIf="manualTransactionsEnabled$ | async">
  <a routerLink="./new" title="Add Manual Transaction" mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </a>
</app-fab>

<ng-template #noTransactions>
  <div class="progress-message">
    No transactions to show
    <div class="sub-message">Try changing the filters or clearing the search</div>
  </div>
</ng-template>

<ng-template #spinner>
  <div class="progress-message">
    Loading Transactions...
  </div>
  <mat-spinner></mat-spinner>
</ng-template>