.breadcrumb {
    font-size: .8em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    a:hover, span:hover {
        text-decoration: none;
    }
    .crumb{
        margin: 0 .6em;

        &:last-child {
            margin-right: 20px;
        }
    }
}

.arrow {
    position: relative;
    top: 2px;
}
