:host {
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.settings-form {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

mat-form-field {
  width: 100%;
}

.section {
  &:not(:first-of-type){
    padding-top: 2em;
  }
  &:not(:last-of-type){
    padding-bottom: 2em;
  }
}

.features-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}