<div class="button-container">
  <a mat-flat-button color="accent" href="/login">Log In to Google to Get Started</a>
</div>

<h1>About Cultivator</h1>
<p>Cultivator is a budgeting app that allows you to work with transactions stored inside Google Sheets. With Cultivator,
  you can update the transaction category or add notes on the go, without the need to open Google Sheets.</p>
<p>Cultivator works well with the popular personal finance tool, <a href="https://www.tillerhq.com/">Tiller</a>. It is
  able to read from your Google Sheet the transactions and categories created by the Tiller template, then write back
  the updates you make from the app.</p>

<h2>Disclaimer</h2>
<p>
  Cultivator is in no way affiliated with Tiller.
  <br />
  As a free application, Cultivator takes no responsibility for corrupted data (in Google Sheets, you can always restore
  to an older version if things go wrong 😊).
</p>

<h2>Bugs</h2>
<p>To report bugs or request features, please raise an issue on <a
    href="https://github.com/cnorick/taters-budget-app-for-tiller/issues">Github</a>.</p>