<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over" position="end">
    <nav>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngIf="!(loggedIn$ | async)" (click)="drawer.toggle()">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/login">Login</a>
        </mat-list-item>
        <mat-list-item role="listitem">
          <a class="nav-link" routerLink="/transactions" routerLinkActive="active-link">Transactions</a>
        </mat-list-item>
        <mat-list-item role="listitem">
          <a class="nav-link" routerLink="/settings" routerLinkActive="active-link">settings</a>
        </mat-list-item>
      </mat-list>
    </nav>
  </mat-drawer>

  <div class="page">
    <mat-toolbar color="primary">
      <span>Tiller</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <div class="outlet">
      <router-outlet></router-outlet>
    </div>
    <footer>with 💙 from Tater</footer>
  </div>
</mat-drawer-container>