<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over" position="end">
    <app-nav [loggedIn]="!!(loggedIn$ | async)" (linkClick)="drawer.toggle()"></app-nav>
  </mat-drawer>

  <div class="page">
    <mat-toolbar color="primary">
      <a mat-icon-button *ngIf="!(isRootPage$ | async)" [routerLink]="parentPage$ | async">
        <mat-icon>arrow_back_ios</mat-icon>
      </a>
      <span>Cultivator</span>
      <button mat-icon-button class="example-icon" aria-label="" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <app-breadcrumbs></app-breadcrumbs>
    <div class="outlet">
      <mat-spinner *ngIf="loading"></mat-spinner>
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
</mat-drawer-container>