.page {
  display:  flex;
  flex-direction: column;
  height: 100%;

  mat-toolbar {
  }

  .outlet {
    flex: 1 1 auto;
    min-height: 100vh;
  }

  footer {
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-list-item {

}
