.page {
  display:  flex;
  flex-direction: column;
  height: 100%;

  .outlet {
    flex: 1 1 auto;
    min-height: 100vh;
  }
}

.example-spacer {
  flex: 1 1 auto;
}


mat-spinner {
  margin: 0 auto;
  top: 40vh;
}