<mat-form-field class="example-full-width" *ngIf="{filteredCategories: filteredCategories} as data">
  <mat-label>{{label}}</mat-label>
  <input type="text" placeholder="Pick one" matInput [matAutocomplete]="auto" [value]="selectedCategory"
    [formControl]="categoryCtl" (focus)="onInputFocus($event)" (keyup.enter)="onInputSubmit()" #input>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCategoryChange($event)" autoSelectActiveOption="true">
    <mat-option *ngFor="let c of data.filteredCategories" [value]="c.category">
      <span class="option-container">
        <span class="category">{{c.category}}</span>
        <small class="group">{{c.group}}</small>
      </span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>