.option-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;

  .category {

  }

  .group {
    filter: brightness(75%);
    line-height: .8em;
  }
}

mat-form-field {
  width: 100%;
}