a {
  color: unset;
  text-decoration: none;
}

mat-card {
  margin-bottom: 1em;
}

mat-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .content-block {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .right-content {
    justify-content: flex-end;
    text-align: right;
  }
}

.list-item-spinner {
  display: inline-flex;
}

.notes-container {
  padding-top: 1rem;
  padding-right: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  filter: brightness(85%);
  font-size: .85em;
  font-style: italic;
}