<mat-card>
  <a [routerLink]="transaction.transaction_id">
    <mat-card-header>
      <mat-card-title>{{transaction.full_description}}</mat-card-title>
      <mat-card-subtitle>
        {{transaction.amount | currency}}&nbsp;|
        <span>
          <ng-container *ngIf="transaction.category === CATEGORY_LOADING_VAL">
            <mat-spinner class="list-item-spinner" diameter="15"></mat-spinner>
          </ng-container>
          <span *ngIf="!transaction.category" class="uncategorized">uncategorized</span>
          <ng-container *ngIf="!!transaction.category && transaction.category !== CATEGORY_LOADING_VAL">
            {{transaction.category}}
          </ng-container>
        </span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <span class="content-block">
        <span>{{transaction.date | date}}</span>
      </span>
      <span class="content-block">
        <span>{{transaction.institution}}</span>
        <span>{{transaction.account}}</span>
        <span>{{transaction['account_#']}}</span>
      </span>
    </mat-card-content>
  </a>
</mat-card>