/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "./app/components/transaction/transaction.component-theme" as transaction;
@use "./app/components/breadcrumbs/breadcrumbs.component-theme" as breadcrumbs;
@use "./app/components/footer//footer.component-theme" as footer;
@use "./app/pages/transactions/transactions.component-theme" as transactions;

@import "@angular/material/theming";
@include mat.core();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$primary: mat.define-palette(mat.$teal-palette, 500, 200, 900);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$red-palette);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: mat.define-typography-config(),
  )
);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: mat.define-typography-config(),
  )
);

@include mat.all-component-themes($dark-theme);
@include transaction.theme($dark-theme);
@include breadcrumbs.theme($dark-theme);
@include footer.theme($dark-theme);
@include transactions.theme($dark-theme);

// Apply the light theme only when the user prefers light themes.
@media (prefers-color-scheme: light) {
  @include mat.all-component-themes($light-theme);
  @include transaction.theme($light-theme);
  @include breadcrumbs.theme($light-theme);
  @include footer.theme($light-theme);
  @include transactions.theme($light-theme);
}

a {
  color: mat.get-color-from-palette($primary, 'lighter');
  &:hover {
    filter: brightness(150%);
  }
}
