<ng-container *ngIf="transaction$ | async as t else spinner">
  <h1>{{t.description}}</h1>
  <div class="info-container">
    <span><small class="label">Category:</small> {{t.category || 'uncategorized'}}</span>
    <span><small class="label">Amount:</small> {{t.amount | currency}}</span>
    <span><small class="label">Date:</small> {{t.date | date}}</span>
    <span><small class="label">Institution:</small> {{t.institution}}</span>
    <span><small class="label">Account:</small> {{t.account}}</span>
    <span><small class="label">Account #:</small> {{t['account_#']}}</span>
    <span><small class="label">Full Description:</small> {{t.full_description}}</span>
    <span><small class="label">Account Id:</small> {{t.account_id}}</span>
    <span><small class="label">Check Number:</small> {{t.check_number}}</span>
    <span><small class="label">Date Added:</small> {{t.date_added | date}}</span>
    <span><small class="label">Notes:</small> {{t.notes}}</span>
    <app-category-selector (selectedCategoryChange)="onSelectedCategoryChange($event, t)"
      [selectedCategory]="t.category"></app-category-selector>
  </div>


</ng-container>
<ng-template #spinner>
  Loading Transaction...
  <mat-spinner></mat-spinner>
</ng-template>