:host {
  margin: 1em;
  display: flex;
  flex-direction: column;
}

mat-spinner {
  margin: 0 auto;
}

.info-container {
  display: flex;
  flex-direction: column;
}

.label {
  filter: brightness(75%);
}

h2 {
  margin-top: 0;
  margin-bottom: 0.2em;
}